
button{
  background:#00008b ;
  width: 65%;
  font-size: 20px;
  margin-left: 13px;
  margin-top: 10px;
  color:white;
  }
button:hover {
  background-color: #00008b;
  color: white;
  }

font{
font-size:40px;
font-family:verdana;
color:#00008b;
text-shadow:1px 1px lightgrey;
}

p{
font-size:30px;
font-family:verdana;
font-weight:20;
color:#00008b;
text-shadow:1px 1px lightgrey;
}

a:hover{
color:red
}

form{
-webkit-box-sizing:content-box;
box-sizing:content-box;
width:20%;
border:5px solid #00008b;
padding:20px;
float:left;
}
