p{
font-size:25px;
font-family:verdana;
color:#00008b;
text-shadow:1px 1px #00008b;
}

a:hover{
color:red
}

.col3{
column-count:3;
column-rule-style : none;
column-rule-width:50px;
}
